header {
  height: fit-content;
  width: 100%;
  background-color: #234285;
  color: white;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

#title {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

#regionMenu {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.regionMenuItem {
  padding: 4px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.regionMenuItem-disabled {
}

.regionMenuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.regionMenuItem.selected {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.regionMenuItem.selected:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.regionMenuLink {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.regionMenuLink-disabled {
  color: rgb(133, 133, 133);
  cursor: default;
}

.rightMenu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.rightMenu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
  width: max-content;
}

.rightMenu a.selected {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.rightMenu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header button {
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

@media (any-hover: hover) {
  header button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.header-menu-button {
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  transition: background-color 0.2s;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2px;
}
.header-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropDownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #234285;
  border: solid 1px white;
  z-index: 5000;
  min-width: 120px;
}

.dropDownMenu-item {
  display: block;
  width: 100%;
  text-align: left;
  background: #234285;
  border: none;
  padding: 8px 12px;
}

.main-contents-container {
  /* 为了在 footer 上方内容过少时还能把 footer 撑起来 */
  /* 添加 footer 的页面的正文内容需要设置 flex: 1; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
